<div class="left-side-menu">
  <div class="media user-profile mt-2 mb-2">
    <img
      src="<%-assets_url%>assets/images/users/user.png"
      class="avatar-sm rounded-circle mr-2"
      alt="user"
    />
    <img
      src="<%-assets_url%>assets/images/users/user.png"
      class="avatar-xs rounded-circle mr-2"
      alt="user"
    />

    <div class="media-body">
      <h6 class="pro-user-name mt-0 mb-0">
        <span class="">User</span>
      </h6>
    </div>
    <div class="dropdown align-self-center profile-dropdown-menu">
      <a
        class="dropdown-toggle mr-0"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <span data-feather="chevron-down"></span>
      </a>
      <div class="dropdown-menu profile-dropdown">
        <a
          href="<%-user_url%>/change-password"
          class="dropdown-item notify-item"
        >
          <i data-feather="user" class="icon-dual icon-xs mr-2"></i>
          <span>Change Password</span>
        </a>

        <a
          href="<%-user_url%>/logout"
          class="dropdown-item notify-item logout"
        >
          <i data-feather="log-out" class="icon-dual icon-xs mr-2"></i>
          <span>Logout</span>
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar-content">
    <!--- Sidemenu -->
    <div id="sidebar-menu" class="slimscroll-menu">
      <ul class="metismenu" id="menu-bar">
        <!-- <li class="menu-title">Navigation</li> -->

        <li>
          <a href="<%-user_url%>/dashboard">
            <i class="fa fa-home"></i>
            <span> Dashboard </span>
          </a>
        </li>

        <!-- <li>
          <a href="javascript: void(0);">
            <i class="fa-duotone fa-cart-shopping-fast"></i>
            <span> Products </span>
             <span class="menu-arrow"></span> 
          </a>

        </li> --> 
        <li>
          <a href="<%-user_url%>/product">
            <i class="fa-brands fa-paypal"></i>
            <span> All Products </span>
          </a>
        </li>
        <li>
          <a href="<%-user_url%>/mycart">
            <i class="fa-sharp fa-solid fa-cart-plus"></i>
            <span> My Cart</span>
          </a>
        </li>
       
        <li>
          <a href="javascript: void(0);">
            <i class="fa fa-gear"></i>
            <span> Settings </span>
            <span class="menu-arrow"></span>
          </a>

          <ul class="nav-second-level" aria-expanded="false">
            <li>
              <a href="<%-user_url%>/edit/aboutUs">About Us</a>
            </li>
            <li>
              <a href="<%-user_url%>/edit/privacyPolicy">Privacy Policy</a>
            </li>
            <li>
              <a href="<%-user_url%>/edit/termsConditions"
                >Terms & Conditions</a
              >
            </li>
            
          </ul>
        </li>
      </ul>
    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left -->
</div>
